<%= form_with(model: freelance, local: true) do |form| %>
  <% if freelance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(freelance.errors.count, "error") %> prohibited this freelance from being saved:</h2>

      <ul>
      <% freelance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
