
        <!-- Intro -->
        <header class="component-section">


            <div class="container component-intro-section">

                <h2 class="component-title-section">A propos de moi</h2>
                <p class="component-title-description"> Qui-suis-je ? </p>
            </div>

            <div class="container ">


                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia distinctio quisquam expedita
                    eligendi
                    eos laborum? Quisquam totam voluptatem ad consequuntur veniam, necessitatibus laborum corporis et
                    exercitationem, provident voluptatum illum porro! </p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sed et, omnis animi minus sit
                    maiores
                    sunt odio numquam porro labore officiis aut laborum totam ea voluptate mollitia non recusandae! </p>


            </div>




        </header>

        <!-- Ebauche site webs -->
        <header class="component-section">


            <div class="container component-intro-section">

                <h2 class="component-title-section">Création de sites web</h2>
                <p class="component-title-description"> Les principales prestations que je propose. </p>
            </div>

            <div class="container">

                <div class="row d-flex">

                    <div class="col-lg-4 mx-auto" style="margin-bottom:1em;">

                        <div class="component-card-siteweb card text-center">
                            <div class="card-body">
                                <h5 class="card-title"><img src="https://png.icons8.com/dusk/50/000000/browser-window.png">
                                    <br><b>Site vitrine</b></h5>
                                <p class="card-text"> Vous êtes une PME, une startup, une association ou même un
                                    particulier ? <br> <br>Je crée pour vous un site web moderne et personnalisé qui
                                    répond à vos objectifs de communication.</p>
                                <p class="card-text"><small class="text-muted">CMS Wordpress / Framework Ruby on Rails</small></p>


                            </div>
                        </div>


                    </div>

                    <div class="col-lg-4" style="margin-bottom:1em;">

                        <div class="component-card-siteweb card text-center">
                            <div class="card-body">
                                <h5 class="card-title"><img src="https://png.icons8.com/dusk/50/000000/test-passed.png"><br><b>Site
                                        sur mesure</b></h5>
                                <p class="card-text">Le service que vous souhaitez proposer nécessite la création d’un
                                    site sur-mesure avec des fonctionnalités personnalisées ? <br> <br> Contactez-moi
                                    dès à présent pour que nous puissions réfléchir ensemble et réaliser un site
                                    entièrement customisé qui répond à vos objectifs.</p>
                                <p class="card-text"><small class="text-muted">Framework Ruby on Rails / Symfony</small></p>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4" style="margin-bottom:1em;">
                        <div class="component-card-siteweb card text-center">
                            <div class="card-body">
                                <h5 class="card-title"><img src="https://png.icons8.com/dusk/50/000000/e-commerce.png"><br>
                                    <b>Site e-commerce </b></h5>
                                <p class="card-text">Vous souhaitez vous lancer dans la vente de produits en ligne ?
                                    <br> <br> Je conçois avec vous la boutique idéale et vous conseille afin d’avoir un
                                    site clair avec un parcours utilisateur limpide dans le but que vous obteniez de
                                    bons taux de transformation.</p>
                                <p class="card-text"><small class="text-muted">CMS Prestashop</small></p>
                            </div>

                        </div>



                    </div>




                </div>

                <div class=" col-lg-12" style="border-radius: 1em;">
                    <div class="card-body text-center">
                        <button style="border-radius: 1em" class="btn btn-outline-dark" href="#">En savoir plus</button>
                    </div>
                </div>

            </div>




        </header>

        <!-- Ebauche services -->
        <header class="component-section">


            <div class="container component-intro-section">

                <h2 class="component-title-section">Services et expertises</h2>
                <p class="component-title-description"> Les principaux services que je propose. </p>
            </div>

            <div class="container">

                <div class="row d-flex">

                    <div class="col-lg-4" style="margin-bottom:1em;">



                        <div class="component-card-expertise card d-flex">
                            <div class="card-body mx-auto">
                                <img class="d-flex mx-auto" src="https://png.icons8.com/cotton/64/000000/dating-website.png">
                                <h5 class="card-title text-center"> Développement front-end</h5>
                                <p class="card-text ">Intégrer des maquettes web, créer des expériences adaptatives,
                                    utiliser le potentiel de chaque navigateur, réaliser des animations HTML5 / SVG,
                                    réfléchir sur la performance d’une page web, c’est mon coeur de métier.</p>
                                <p class="card-text"><small class="text-muted">



                                        <button type="button" style="margin-bottom:0.2em" class="btn-small btn-outline-dark">HTML/CSS</button>

                                        <button type="button" style="margin-bottom:0.2em" class="btn-small btn-outline-dark">Javascript</button>

                                        <button type="button" style="margin-bottom:0.2em" class="btn-small btn-outline-dark">HTML/CSS</button>

                                        <button type="button" style="margin-bottom:0.2em" class="btn-small btn-outline-dark">HTML/CSS</button>





                                    </small></p>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4" style="margin-bottom:1em;">



                        <div class="component-card-expertise card d-flex">
                            <div class="card-body mx-auto">
                                <img class="d-flex mx-auto" src="https://png.icons8.com/dusk/64/000000/automatic.png">
                                <h5 class="card-title text-center"> Développement back-end</h5>
                                <p class="card-text ">Penser à des applications, à des fonctionnalités, les mettre en
                                    oeuvre, utiliser les bons outils, les bons CMS, se tenir informé sur les dernières
                                    technologies mises au point, les tester, tenter des expériences, c’est ce qui me
                                    motive.</p>
                                <p class="card-text"><small class="text-muted">



                                        <button type="button" style="margin-bottom:0.2em" class="btn-small btn-outline-dark">HTML/CSS</button>

                                        <button type="button" style="margin-bottom:0.2em" class="btn-small btn-outline-dark">Javascript</button>

                                        <button type="button" style="margin-bottom:0.2em" class="btn-small btn-outline-dark">HTML/CSS</button>

                                        <button type="button" style="margin-bottom:0.2em" class="btn-small btn-outline-dark">HTML/CSS</button>





                                    </small></p>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4" style="margin-bottom:1em;">



                        <div class="component-card-expertise card d-flex">
                            <div class="card-body mx-auto">
                                <img class="d-flex mx-auto" src="https://png.icons8.com/dusk/64/000000/developer.png">
                                <h5 class="card-title text-center"> Code de qualité et bonnes pratiques</h5>
                                <p class="card-text ">Se tenir informé sur les bons outils, les utiliser de la bonne
                                    façon, réfléchir à la meilleure manière d’écrire du code, me former
                                    continuellement, c’est ma façon de travailler.</p>
                                <p class="card-text"><small class="text-muted">




                                        <button type="button" style="margin-bottom:0.2em" class=" mx-auto btn-small btn-outline-dark">HTML/CSS</button>

                                        <button type="button" style="margin-bottom:0.2em" class="mx-auto btn-small btn-outline-dark">Javascript</button>

                                        <button type="button" style="margin-bottom:0.2em" class="mx-auto btn-small btn-outline-dark">HTML/CSS</button>

                                        <button type="button" style="margin-bottom:0.2em" class=" mx-auto btn-small btn-outline-dark">HTML/CSS</button>




                                    </small></p>

                            </div>
                        </div>

                    </div>
                </div>

                <div class=" col-lg-12" style="border-radius: 1em;">
                    <div class="card-body text-center">
                        <button style="border-radius: 1em" class="btn btn-outline-dark" href="#">En savoir plus </button>
                    </div>
                </div>

            </div>




        </header>

        <!-- Ebauche portfolio -->
        <header class=" component-section">


            <div class="container component-intro-section">

                <h2 class="component-title-section">Porfolio</h2>
                <p class="component-title-description"> Mes dernières réalisations. </p>
            </div>

            <div class="container">

                <div class="row d-flex">

                    <div class="component-card-portfolio col-lg-4 ">
                        <div class="card" style="border-radius: 1em;">
                            <img style="border-radius: 1em 1em 0em 0em;" class="card-img-top" src="<%= image_path('projet.jpg')  %>"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in
                                    to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>

                    </div>

                    <div class="component-card-portfolio col-lg-4 ">
                        <div class="card" style="border-radius: 1em;">
                            <img style="border-radius: 1em 1em 0em 0em;" class="card-img-top" src="<%= image_path('projet.jpg')  %>"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in
                                    to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>

                    </div>
                    <div class="component-card-portfolio col-lg-4">
                        <div class="card" style="border-radius: 1em;">
                            <img style="border-radius: 1em 1em 0em 0em;" class="card-img-top" src="<%= image_path('projet.jpg')  %>"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in
                                    to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>

                    </div>


                </div>

                <div class=" col-lg-12" style="border-radius: 1em;">
                    <div class="card-body text-center">
                        <button style="border-radius: 1em" class="btn btn-outline-dark" href="#">Voir le portfolio
                            complet</button>
                    </div>
                </div>

            </div>




        </header>


        <header class="component-section">


            <div class="container component-intro-section">

                <h3 class="component-title-section">Me contacter</h3>

                <p class="component-title-description"> Besoin d’un accompagnement dans vos projets web ? </p>
            </div>


            <div class="container">

            <%= render 'contact' %>

            </div>
        </header>

    </div>
