<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @categorie_competence.nom %>
</p>

<%= link_to 'Edit', edit_categorie_competence_path(@categorie_competence) %> |
<%= link_to 'Back', categorie_competences_path %>
