  <!-- Intro -->
        <header class="component-section">


            <div class="container component-intro-section">

                <h2 class="component-title-section">Présentation</h2>
                <p class="component-title-description"> Qui-suis-je ? </p>
            </div>

            <div class="container">

                <p > Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi itaque totam debitis ex illo sunt id
                    suscipit! Voluptate facilis aliquid in impedit esse? Hic obcaecati dolore minima fugiat tempora
                    quam? </p>
                    
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, consectetur suscipit? Modi sequi
                    necessitatibus distinctio ab libero non, sit aliquid repellat? Distinctio, quaerat! Ab dolorum
                    nesciunt tenetur accusamus vel cum? </p>

                    </div>
         


        </header>

        <header class="component-section">


            <div class="container component-intro-section">

                <h2 class="component-title-section">Formation</h2>
                <p class="component-title-description"> Mon parcours et mes différents diplômes </p>
            </div>

            <div class="container">


                <ul class="list-unstyled">
                    <div class="card" style="padding:1em;margin-bottom: 1em">
                    <li class=" media">
                        <img class="mr-3" width="60px"  src="https://png.icons8.com/dusk/64/000000/graduation-cap.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <p class="h6">Webforce 3</p>
                            <p class="text-muted"> Certification d'intégration et techniques de développement web</p>
                        </div>
                    </li>
                </div>
                <div class="card" style="padding:1em; margin-bottom: 1em">
                    <li class="media ">
                           
                        <img class="mr-3" width="60px" src="https://png.icons8.com/dusk/64/000000/graduation-cap.png"
                            alt="Generic placeholder image">
                        <div class="media-body">
                            <p class="h6">Université d'Evry Val d'Esonnnes</p>
                            <p class="text-muted">Licence Informatique et Mathématiques</p>
                        </div>
                    </li>
                </div>
                <div class="card" style="padding:1em;margin-bottom: 1em">
                    <li class="media">
                        <img class="mr-3" width="60px"  src="https://png.icons8.com/dusk/64/000000/graduation-cap.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <p class="h6">Lycée les Frères Moreau </p>
                            <p class="text-muted">Bac professionnel electrotechnique et énergies communicants </p>
                        </div>
                    </li>
                </div>
                </ul>


            </div>


        </header>

        <header class="component-section">


            <div class="container component-intro-section">

                <h2 class="component-title-section">Curriculum Vitae</h2>
                <p class="component-title-description"> Disponible en plusieurs formats et langues. </p>
            </div>

            <div class="container">

                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                        <ul class="list-group">
                            <a class="card list-group-item">
                                <img src="https://png.icons8.com/dusk/64/000000/france.png">
                                <div class="bmd-list-group-col">
                                    <p class="list-group-item-heading">Télécharger en français</p>
                                    <p class="list-group-item-text">Format PDF - Format Image </p>
                                </div>
                            </a>
                        </ul>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                        <ul class="list-group">
                            <a class="card list-group-item">
                                <img src="https://png.icons8.com/dusk/64/000000/great-britain.png">
                                <div class="bmd-list-group-col">
                                    <p class="list-group-item-heading">Télécharger en anglais</p>
                                    <p class="list-group-item-text">Format PDF - Format Image </p>
                                </div>
                            </a>
                        </ul>

                    </div>

                </div>

            </div>


        </header>


        <header class="component-section">


            <div class="container component-intro-section">

                <h3 class="component-title-section">Compétences</h3>
                <p class="component-title-description"> Les technologies et expertises que je maîtrise. </p>
            </div>

            <div class="scontainer">

                <div class="container">

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-bottom: 1em;">
                            
                            <div class="card" style="padding: 1em">
                                <span class="underline"> Front-End </span>
                            <hr>
                            <ul class="list-group bmd-list-group-sm">
                                <a class="list-group-item">
                                    <div class="bmd-list-group-col">
                                        <p class="list-group-item-heading">HTML 5</p>
                                        <p class="list-group-item-text">Boilerplate,</p>
                                    </div>
                                </a>
                                <a class="list-group-item">
                                    <div class="bmd-list-group-col">
                                        <p class="list-group-item-heading">CSS 3</p>
                                        <p class="list-group-item-text">Sass, Compass</p>
                                    </div>
                                </a>
                                <a class="list-group-item">
                                    <div class="bmd-list-group-col">
                                        <p class="list-group-item-heading">List group item heading</p>
                                        <p class="list-group-item-text">Some text</p>
                                    </div>
                                </a>
                            </ul>

                        </div>

                        </div>

                        
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-bottom: 1em;">
                            
                            <div class="card" style="padding: 1em">
                                <span class="underline"> Front-End </span>
                            <hr>
                            <ul class="list-group bmd-list-group-sm">
                                <a class="list-group-item">
                                    <div class="bmd-list-group-col">
                                        <p class="list-group-item-heading">HTML 5</p>
                                        <p class="list-group-item-text">Boilerplate,</p>
                                    </div>
                                </a>
                                <a class="list-group-item">
                                    <div class="bmd-list-group-col">
                                        <p class="list-group-item-heading">CSS 3</p>
                                        <p class="list-group-item-text">Sass, Compass</p>
                                    </div>
                                </a>
                                <a class="list-group-item">
                                    <div class="bmd-list-group-col">
                                        <p class="list-group-item-heading">List group item heading</p>
                                        <p class="list-group-item-text">Some text</p>
                                    </div>
                                </a>
                            </ul>

                        </div>

                        </div>

                        
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-bottom: 1em;">
                            
                            <div class="card" style="padding: 1em">
                                <span class="underline"> Front-End </span>
                            <hr>
                            <ul class="list-group bmd-list-group-sm">
                                <a class="list-group-item">
                                    <div class="bmd-list-group-col">
                                        <p class="list-group-item-heading">HTML 5</p>
                                        <p class="list-group-item-text">Boilerplate,</p>
                                    </div>
                                </a>
                                <a class="list-group-item">
                                    <div class="bmd-list-group-col">
                                        <p class="list-group-item-heading">CSS 3</p>
                                        <p class="list-group-item-text">Sass, Compass</p>
                                    </div>
                                </a>
                                <a class="list-group-item">
                                    <div class="bmd-list-group-col">
                                        <p class="list-group-item-heading">List group item heading</p>
                                        <p class="list-group-item-text">Some text</p>
                                    </div>
                                </a>
                            </ul>

                        </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-bottom: 1em;">
                            
                            <div class="card" style="padding: 1em">
                            <span class="underline"> Front-End </span>
                            <hr>
                            <ul class="list-group bmd-list-group-sm">
                                <a class="list-group-item">
                                    <div class="bmd-list-group-col">
                                        <p class="list-group-item-heading">HTML 5</p>
                                        <p class="list-group-item-text">Boilerplate,</p>
                                    </div>
                                </a>
                                <a class="list-group-item">
                                    <div class="bmd-list-group-col">
                                        <p class="list-group-item-heading">CSS 3</p>
                                        <p class="list-group-item-text">Sass, Compass</p>
                                    </div>
                                </a>
                                <a class="list-group-item">
                                    <div class="bmd-list-group-col">
                                        <p class="list-group-item-heading">List group item heading</p>
                                        <p class="list-group-item-text">Some text</p>
                                    </div>
                                </a>
                            </ul>

                        </div>

                        </div>

                    </div>

                </div>

            </div>





        </header>

        <!-- Contact -->
        <header class="component-section">


            <div class="container component-intro-section">

                <h3 class="component-title-section">Me contacter</h3>

                <p class="component-title-description"> Besoin d’un accompagnement dans vos projets web ? </p>
            </div>


            <div class="container">

                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput" class="bmd-label-floating">Nom, Prénom</label>
                        <input type="text" class="form-control" id="formGroupExampleInput">
                        <span class="bmd-help">Votre nom</span>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1" class="bmd-label-floating">Email address</label>
                        <input type="email" class=" form-control" id="exampleInputEmail1">
                        <span class="bmd-help">We'll never share your email with anyone else.</span>
                    </div>

                    <div class="form-group">
                        <label for="exampleSelect1" class="bmd-label-floating">Objet</label>
                        <select class="form-control" id="exampleSelect1">1

                            <option class="selected">Demande de devis (Gratuit)</option>

                            <option>Demande d'informations</option>
                            <option>Demande de partenariat</option>
                            <option>Pas d'objet</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleTextarea" class="bmd-label-floating">Votre message</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </div>

                    <button type="submit" class=" col-lg-2 component-button-submit right btn btn-primary btn-raised">Envoyer</button>

                </form>


            </div>
        </header>